<!DOCTYPE html>
<html>
<head>
	<title>Honor Blast</title>
	<%- include sharedcontent/head.ejs %>
</head>
<body>
	<header class="header-style">
		<div class="container-fluid">
			<button class="menu-icon">
					<img src="/images/menu-icon.png" alt="toggle icon" class="menu-icon-img" />
			</button>
			<div class="row">
				<div class="col-sm-6 vcenter navbar">	
					<h1 class="title">HONOR BLAST</h1>				
				</div>
				<div class="col-sm-1 vcenter navbar">	
					<img class="img-responsive" src="/images/logo.png" />			
				</div>				
			</div>
	</header>


	<section class="main-container">
		<br>
		<div class="container-fluid">
		<h2 class="title2 ">Enter Username and Password to Continue</h2>
		<form action="/home" method="post">	
			<div class="container">
				<label for="uname"><b>Username</b></label>
				<input type="text" placeholder="Enter Username" name="uname" id="uname" required>
				<label for="psw"><b>Password</b></label>
				<input type="password" placeholder="Enter Password" name="psw" id="psw" required>
				<button type="submit" class="login-button">Login</button>
				<label>
					<input type="checkbox" checked="checked" name="remember"> Remember me
				</label>
			</div>
		</form>
		</div>
	</section>	
	<%- include sharedcontent/footer.ejs %>
	
	<script src="/js/app.js"></script>
	<script src="/js/menu.js"></script>
</body>
</html>