	<header class="header-style">
		<div class="container-fluid">
			<button class="menu-icon">
					<img src="/images/menu-icon.png" alt="toggle icon" class="menu-icon-img" />
			</button>
			<div class="row">
				<div class="col-sm-12 vcenter navbar">	
					<h1 class="title">HONOR BLAST</h1>				
					<nav>		
						<ul class="nav-bar">
							<a class="menu-links" href="/"><li>PLAYERS</li></a>
							<a class="menu-links" href="/quests"><li>QUESTS</li></a>
							<a class="menu-links" href="/prizes"><li>PRIZES</li></a>
							<a class="menu-links" href="/trophies"><li>TROPHIES</li></a>
							<a class="menu-links" href="/activities"><li>ACTIVITY</li></a>
						</ul>
					</nav>
				</div>
				<div class="col-sm-12 mobile-bar">
					<ul class="nav-bar-mobile" >
							<a class="menu-links" href="/"><li>PLAYERS</li></a>
							<a class="menu-links" href="/quests"><li>QUESTS</li></a>
							<a class="menu-links" href="/prizes"><li>PRIZES</li></a>
							<a class="menu-links" href="/trophies"><li>TROPHIES</li></a>
							<a class="menu-links" href="/activities"><li>ACTIVITY</li></a>
					</ul>
				</div>
			</div>
		</div>
	</header>
